.jumbotron {
  text-align: center;
  background-color: white;
  color: black;
  opacity: 87%;
  border-radius: 0;
  border-bottom: 5px solid lightskyblue;
  -webkit-box-shadow: 0px 1px 1px black;
  -moz-box-shadow: 0px 1px 1px black;
  box-shadow: 0px 2px 2px black;
  
}

.display-3 {
  font-weight: bolder;
  text-shadow: 1px 1px dimgray;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: lightgray;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 2px solid black;
  padding: 10px;
  width: 80%;
}

.description {
  white-space: pre-wrap;
}

textarea {
  color: black;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
  box-shadow: 1px 1px black;
}

.hour {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  color: black;
  width: 10%;
  text-align: center;
  font-weight: 900;
}

.past {
  background-color: whitesmoke;
  color: black;
}

.present {
  background-color: tomato;
  color: black;
}

.future {
  background-color: yellowgreen;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: lightskyblue;
  color: white;
  text-align: center;
  width: 10%;
}

td i {
  text-align: center;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
