body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: dimgray;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid black;
    padding: 10px;
    width: 80%;
  }
  
  .jumbotron {
    text-align: center;
    background-color: darkslategray;
    color: lightgrey;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }

  textarea {
      color: black;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
    
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: dimgray;
    color: white;
    border-top: 1px dashed black;
    width: 10%;
    text-align: center;
  }
  
  .past {
    background-color: lightgray;
    color: black;
  }
  
  .present {
    background-color: tomato;
    color: black;
  }
  
  .future {
    background-color: yellowgreen;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: lightskyblue;
    color: white;
    text-align: center;
    width: 10%;
  }

  td i {
    text-align:center;
}
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  